[submodule "recipes/archive-mounter"]
	path = recipes/archive-mounter
	url = https://github.com/vith/arch-packages.git
	branch = pkg/archive-mounter
[submodule "recipes/carapace"]
	path = recipes/carapace
	url = https://github.com/vith/arch-packages.git
	branch = pkg/carapace
[submodule "recipes/nasctui"]
	path = recipes/nasctui
	url = https://github.com/vith/arch-packages.git
	branch = pkg/nasctui
[submodule "recipes/cloudflare-speed-cli"]
	path = recipes/cloudflare-speed-cli
	url = https://github.com/vith/arch-packages.git
	branch = pkg/cloudflare-speed-cli
[submodule "recipes/oh-my-pi-vith-git"]
	path = recipes/oh-my-pi-vith-git
	url = https://github.com/vith/arch-packages.git
	branch = pkg/oh-my-pi-vith-git
[submodule "recipes/python-google-genai"]
	path = recipes/python-google-genai
	url = https://github.com/vith/arch-packages.git
	branch = pkg/python-google-genai
[submodule "recipes/apexshot"]
	path = recipes/apexshot
	url = https://github.com/vith/arch-packages.git
	branch = pkg/apexshot
[submodule "recipes/carapace-bridge"]
	path = recipes/carapace-bridge
	url = https://github.com/vith/arch-packages.git
	branch = pkg/carapace-bridge
[submodule "recipes/regclient"]
	path = recipes/regclient
	url = https://github.com/vith/arch-packages.git
	branch = pkg/regclient
[submodule "recipes/carapace-spec-man"]
	path = recipes/carapace-spec-man
	url = https://github.com/vith/arch-packages.git
	branch = pkg/carapace-spec-man
