pkgbase = cloudflare-speed-cli
	pkgdesc = CLI tool for Cloudflare speed testing with TUI interface
	pkgver = 1.0.9
	pkgrel = 1
	url = https://github.com/kavehtehrani/cloudflare-speed-cli
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	options = !lto
	source = cloudflare-speed-cli::git+https://github.com/kavehtehrani/cloudflare-speed-cli.git#tag=v1.0.9
	sha256sums = 0bd60b9d37b136436dfa340129b8288acbb3f41131b471b7c883ae1b192be8be

pkgname = cloudflare-speed-cli
